/* Pagina de adicionar notiica */

#publicar-noticia{
	width: 1020px;
	height: auto;
	float: left;
}

/*
section#publicar-nota-informacoes table{
	width: 270px;
	height: auto;
	font-family: Tahoma;
	font-size: 14px;
} */

#publicar-noticia-left{
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
}

/*
section#publicar-noticia-left table{
	float: left;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: normal;
}

/*#publicar-noticia-left table tr td{
	padding-bottom: 10px;
} */


/* Caixa de texto  - Coloque o título aqui*/
#publicar-noticia-left table input[type="text"]{
	width: 700px;
	height: auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
} 

#publicar-noticia-left table textarea{
	min-width: 700px;
	max-width: 700px;
	min-height: 300px;
	max-height: 300px;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

#publicar-informacoes{
	width: 680px;
	height: auto;
	float: left;
	background-color: #f4f4f4;
	padding: 10px; 
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 308px;
}

#botao-publicar{
	float: right;
	margin-top: 30px;
	margin-bottom: 5px;
}

#imagem-noticia-carregar{
    width: 240px;
    margin-top: 5px;
}

#detalhes-informacao{
    margin-left: 20px;
    margin-bottom: 5px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFF
}

/* Configuração padrão do header */

header{
    width: 100%;
    height: 144px;
    float: left;
    background-color: #ececec
}

header #topo{
    width: 1120px;
    height: 144px;
    margin: 0 auto;
}

#logo{
    width: 369px;
    height: 82px;
    float: left;
    margin-top: 30px;
}

#topo-right{
    width: 455px;
    height: 144px;
    float: right;
}

#topo-right p{
    width: 455px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555555;
    font-size: 14px;
    text-align: right;
}

#topo-right #adicionarNoticia{
    margin-top: 70px;
}

/* Parte final da pagina */

footer{
    width: 160%;
    height: auto;
    float: left;
}

#center-ft{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}